<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>My Account</h2>
            <hr />
        </div>
        <div class="col-4">
            <app-profile-home></app-profile-home>
        </div>
        <div class='col-8' *ngIf='!show'>
            <span class='noAddress'>No Address Found
                <br>
                <button mat-raised-button color='primary' (click)="addAddress()">Add Address</button>

            </span>


        </div>
        <div class="col-8" *ngIf='show'>
            <mat-card class="example-card">
                <h3>Addresses</h3>
                <hr>
                <!-- <mat-card>
            No Address
          </mat-card> -->
                <mat-card class="example-card2" id={{i}} *ngFor="let adds of add,index as i">
                    <div style="font-size:15px">
                        <span>{{adds.address}}</span><button (click)='deleteAddress(adds,i)' mat-raised-button color="warn"
                            style="float:right;min-width:0px;padding:0px;line-height:0px">
                            <mat-icon id="icon" aria-hidden="false">close</mat-icon></button>
                        <br>
                        <span>{{adds.city}}</span>-
                        <span>{{adds.pincode}}</span><br>

                        <span>{{adds.country}}</span><br>

                    </div>
                    <!-- <mat-radio-group name='address' aria-label="Select an option">
                        <mat-radio-button value=true>Select</mat-radio-button> -->
                    <!-- <mat-radio-button>Female</mat-radio-button> -->
                    <!-- </mat-radio-group> -->
                    <br>
                    <button mat-raised-button color='primary' (click)='editPage(adds)'>Edit</button>
                    <!-- <a mat-flat-button routerLink="/editAddress">Edit</a> -->

                </mat-card>

                <hr>
                <div class="row">
                    <div class="col-8">
                        <!-- <button mat-stroked-button>Edit</button> -->
                        <br>
                        <button mat-raised-button (click)="addAddress()">Add Address</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>