#order-image{
    width: 100px;
    height: 80px;
}
#profilePic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
#imgTitle{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    line-height:50px

}
.mat-flat-button{
    height: 40px;
    font-size: 1rem;
}
.example-card2 {
    margin-top: 20px
}
.noAddress {
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}