<header>

    <mat-toolbar>
        <span style="cursor: pointer ; text-decoration: none; outline-color: transparent" routerLink='/dashboard'>

            <font style="font-size: 40px">Neo</font>
            <font style="color:red;font-size: 40px"><b>STORE</b></font>
        </span>
        <div style="align-content:center;margin-left: auto;margin-right: auto;">

            <button id="navBtn" mat-button (click)='home()'>Home</button>&nbsp;&nbsp;&nbsp;

            <button id="navBtn" mat-button (click)='productPage()'>Products</button>&nbsp;&nbsp;&nbsp;

            <button id="navBtn" mat-button (click)='order()'>Order</button>

        </div>
        <br>
        <!-- <mat-form-field class="example-full-width"> -->
        <input type="text" [formControl]="search" placeholder="Search.." id='search' (keyup)=searchBar($event) [matAutocomplete]="auto">&nbsp;
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
        <!-- </mat-form-field> -->



        <button id="button1" mat-raised-button (click)='cart()'>
            <mat-icon id="icon" aria-hidden="false" matBadge={{myCartCount}} matBadgeColor="warn">shopping_cart</mat-icon>

            &nbsp;Cart</button>&nbsp;&nbsp;
        <button id="button1" mat-raised-button [matMenuTriggerFor]="belowMenu">
            <mat-icon id="icon" *ngIf="show == 'hide' ? true : false" aria-hidden="false">account_box</mat-icon>

            <img class="img" *ngIf="show == 'show' ? true : false" src="{{pic}}" />


            <mat-icon id="icon" aria-hidden="false">keyboard_arrow_down</mat-icon></button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <!-- <label>{{userInfo.customer_details.first_name}}</label> -->
            <button id="menuItems" *ngIf="show == 'hide' ? true : false" mat-menu-item (click)='login()'>Login</button>
            <button id="menuItems" *ngIf="show == 'hide' ? true : false" mat-menu-item (click)='register()'>Register</button>
            <button id="menuItems" *ngIf="show == 'show' ? true : false" mat-menu-item (click)='profile()'>Profile</button>
            <button id="menuItems" *ngIf="show == 'show' ? true : false" mat-menu-item (click)='logout()'>Logout</button>

        </mat-menu>
    </mat-toolbar>
    <br>

    <!-- <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  
</mat-form-field> -->
    <!-- <mat-form-field class="example-full-width">
  <input type="text" type="text"  aria-label="Number" matInput [formControl]="search" placeholder="Search.." (keyup)=searchBar($event) [matAutocomplete]="auto">&nbsp;
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->
</header>