.mat-toolbar {
    background: black;
    color:white;
}
#menuItems{
    outline: none;

}
#button1{
    width: 90px;
    height: 45px;
    outline: none;
}
#icon{
    
    font-size: 25px;
}
.mat-badge-content {
    width: auto;
    display: grid;
    width: 20px;
    height: 20px;
    text-align: center;
    align-items: center;
    /* padding: 5px 3px; */
    /* top: -20px;
    right: -22px; */

}
.img{
    border-radius: 50%;
    /* border:1px solid black; */
    z-index: 0;
    /* margin-top:13px; */
    /* position: absolute;	 */
    /* z-index: 0; */
    /* position: absolute;	 */
    width: 25px;
    height: 25px;
    -webkit-transition: 0.4s ease-in-out;
    transition:  0.4s ease-in-out;
}
.img:hover{
    /* width: 50px;
    height: 50px; */
    transform: scale(2, 2);

}
input[type=text] {
    width:250px;
    height: 45px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://cdn4.iconfinder.com/data/icons/marketing-32/512/Search-512.png');
    background-size: 40px;
    /* background-position: 10px 10px;  */
    background-repeat: no-repeat;
    padding: 12px 20px 12px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/* input[type=text]:focus {
    width:200px;
  } */
  #navBtn{
      outline: none;
  }
  @media only screen and (min-width: 1024px) {
    #navBtn{
        outline: none;
        font-size: 20px;
        margin-left: 30px
    } 
    input[type=text] {
        width: 300px;
    }
  }
  @media only screen and (max-width: 768px) {
    input[type=text] {
        /* width: 20px; */
        /* display: block; */
    }

  }