a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#subscribeBtn{
    width:100px;
    height: 20px;
    padding: 0px;
    line-height: 0px;
}
#subscribeText{
    width:150px;
    
}