<!-- **************************Footer*************************************** -->
<div style="background:black ;font-size: 12px; margin-top: 170px">

    <div class="container" style="margin-top:50px;color: white"><br>
        <div class='row'>
            <div class='col-4' style="text-align:center">
                <h5>About Company</h5><br>
                <p>NeoSOFT Technologies is here at your quick and easy service for shooping .
                    <br> Contact information
                    <br>Email: contact@neosofttech.com
                    <br> Phone: +91 0000000000
                    <br> MUMBAI, INDIA
                </p>
            </div>
            <div class='col-4' style="text-align:center">
                <h5>Information</h5><br>
                <p>

                    <a (click)='termsAndCond()'>Terms and Conditions</a> <br>
                    <a (click)='policy()'>Gurantee and Return Policy</a> <br>
                    <a routerLink="/contact">Contact Us</a> <br>
                    <a routerLink=".">Privacy Policy</a> <br>
                    <a routerLink="/location">Locate Us</a> <br>

                    <br>
                </p>
            </div>
            <div class='col-4' style="text-align:center">
                <h5>Newsletter</h5> <br>
                <p style="font-size: 12px">
                    Signup to get exclusive offer from our favorite brands and to be well up in the news <br>
                    <br><input type="text" [(ngModel)]='subcriber.email' placeholder="your email..." id="subscribeText"><br>
                    <br><button mat-raised-button id="subscribeBtn" (click)=newMsg()>Subscribe</button>

                </p>
            </div>


        </div>
        <div class="row">
            <div class="col-12" style="text-align:center">
                Copyright 2017 NeoSOFT Technologies All rights reserved | Design By Shubham Soni
            </div>
        </div>
    </div>
    <!-- {{msg}} -->