.subscribeMsg{
    /* text-align: center; */
    position: relative;
    text-align: center;
    color: black;
    /* position: absolute; */
    /* display: inline-block; */
}
#thankImg{
    width: 100%;
    height: 500px;
    /* margin-left:auto;
    margin-right: auto; */
    /* display: block;  */
    /* position: relative; */
}
.text{
    position: absolute;
  top: 15px;
    display:block;
  /* left:35%; */
  margin-left:auto;
  margin-right:auto; 
  font-size: 30px;
  width:100%;
}
.crop {
  overflow: hidden;
}

