

<div class="subscribeMsg">
    <img id="thankImg" src="http://sites.psu.edu/siowfa15/wp-content/uploads/sites/29639/2015/09/handshake.jpg" alt="Snow" style="width:100%;">
    <div class="text">Thank You <br>{{msg}}<br> For Subscribing</div>
    
  </div>
  <div id="rate"></div>
  <!-- <star-rating-comp [rating]="2.63"></star-rating-comp> -->
  <!-- <star-rating -->
  <!-- [rating]="3"> -->
<!-- </star-rating-comp> -->
<!-- </star-rating> -->
<!-- <star-rating value="2.5" checkedcolor="red" uncheckedcolor="grey" size="20px"    readonly="true" (rate)="onRate($event)"></star-rating> -->
