<div [formGroup]='recoverPassForm'>
    <mat-card>
        <h1>Recover Password</h1>
        <hr>
        <span class='note'>
            <mat-icon class='icon'>info</mat-icon>

            Verification code has been sent to your registered mail ID</span>
        <mat-form-field appearance="outline">
            <mat-label>Verification code</mat-label>
            <input matInput placeholder="Placeholder" formControlName='otpCode'>
            <mat-error *ngIf="recoverPassForm.get('otpCode').hasError('required')">
                You must enter a value

            </mat-error>
        </mat-form-field><br><br>
        <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName='newPass' />
            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}
            </mat-icon>
            <mat-hint align='end'>8-12 Alphanumeric characters</mat-hint>

            <mat-error *ngIf="recoverPassForm.get('newPass').invalid">{{getErrorMessage()}}</mat-error>

            <!-- <mat-error *ngIf="loginForm.get('pass').invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field><br><br>
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Enter your password" [type]="hide1 ? 'password' : 'text'" formControlName='confirmPass' />
            <mat-icon matSuffix (click)="hide1 = !hide1">{{ hide1 ? "visibility_off" : "visibility" }}
            </mat-icon>
            <mat-hint align='end'>8-12 Alphanumeric characters</mat-hint>

            <mat-error *ngIf="recoverPassForm.get('confirmPass').invalid">{{getErrorMessage1()}}</mat-error>
            <!-- <mat-error *ngIf="recoverPassForm.hasError('passwordsDoNotMatch')">
                Passwords do not match!
            </mat-error> -->
            <mat-hint *ngIf="recoverPassForm.hasError('passwordsDoNotMatch')" style='color: red'>
                Passwords do not match!
            </mat-hint>
            <!-- <mat-error *ngIf="loginForm.get('pass').invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>

        <br><br><br>
        <button mat-raised-button color='primary' [disabled]="!recoverPassForm.valid" (click)='submit()'>Submit</button>
    </mat-card>
</div>