mat-card {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 700px;
    height: 500px;
    margin-top: 100px;
    background-color: #F9F9F9;
}

mat-form-field {
    margin-top: 25px;
    width: 500px;
    height: 50px;
}
.note {
    color: red;
}
.icon {
    vertical-align: -6px;
}