<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>My Account</h2>
            <hr />
        </div>
        <!-- Profile Home component -->
        <div class="col-4">
            <app-profile-home></app-profile-home>

        </div>
        <div class="col-8">
            <!-- Edit Profile Form -->
            <form action="" [formGroup]="profileForm" (ngSubmit)="save()">
                <mat-card class="example-card">
                    <h2>Edit Profile</h2>
                    <hr />
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="firstName">
                        <mat-error *ngIf="profileForm.get('firstName').hasError('required')">
                            You must enter a value
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="lastName">
                        <mat-error *ngIf="profileForm.get('lastName').hasError('required')">
                            You must enter a value

                        </mat-error>

                    </mat-form-field>
                    <mat-label>Gender:</mat-label><br>
                    <mat-radio-group aria-label="Select an option" formControlName="gender">
                        <mat-radio-button value="Male">Male</mat-radio-button>&nbsp;
                        <mat-radio-button value="Female">Female</mat-radio-button>
                    </mat-radio-group>

                    <mat-form-field appearance="outline">
                        <mat-label>Date of Birth</mat-label>
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Placeholder" formControlName="dob">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                        <mat-error *ngIf="profileForm.get('dob').hasError('required')">
                            You must enter a value

                        </mat-error>

                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Mobile</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="mobile">
                        <mat-error *ngIf="profileForm.get('mobile').hasError('required')">
                            You must enter a value

                        </mat-error>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="emailID">
                        <mat-error *ngIf="profileForm.get('emailID').hasError('required')">
                            You must enter a value

                        </mat-error>

                    </mat-form-field>
                    <input class="upload_btn" type="file" (change)="selectedImg($event)" accept=".png, .PNG, .jpg, jpeg, .JPG, .JPEG, " />

                    <hr />
                    <div class="row">
                        <div class="col-9">
                            <!-- <button mat-stroked-button>Edit</button> -->
                            <button mat-raised-button><mat-icon id="icon" aria-hidden="false">save</mat-icon>Save</button>&nbsp;
                            <button mat-raised-button (click)='cancel()'><mat-icon id="icon" aria-hidden="false">close</mat-icon>Cancel</button>
                        </div>
                    </div>
                </mat-card>
            </form>
            <!-- </div>
    </div>
  </div> -->