<ngx-spinner></ngx-spinner>

<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="{{mainImg}}" id='mainImg'>

            <div class="container">
                <br>
                <div class="row">
                    <br>
                    <div class="col-4" *ngFor="let sub of this.prodDetails?.subImages_id.product_subImages,index as i">
                        <img src="{{url}}{{sub}}" id=id{{i}} style="width:100px;height:50px;" (click)='imageChange(sub, i)'>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-6">
            <h3>{{prodDetails?.product_name}}</h3>
            <ngx-stars [initialStars]=prodDetails.product_rating [readonly]="true" [color]="'#ffa534'"></ngx-stars>
            <hr><span style="font-size:17px">

                <span>Price:<font style="color: green">₹{{prodDetails?.product_cost}}</font></span><br>
                <span>Color:
                    <span [ngStyle]="{'background-color':prodDetails?.color_id.color_code}">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><br>
            </span><br>
            <span>
                <!-- <label for="">Share On&nbsp;</label><mat-icon>share</mat-icon> -->
            </span>
            <!-- <google-plus></google-plus>
            <fb-like></fb-like> -->
            <span class='shareLabel'>Share</span>
            <!-- <i class="fab fa-share-alt"></i> -->
            <mat-icon>share</mat-icon> <br>
            <button class='socialbtn' shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color">
                <i id='icon' class="fab fa-facebook-f"></i>
            </button>
            <button class='socialbtn' shareButton="google" [style.backgroundColor]="share.prop.google.color">
                <i id='icon' class="fab fa-google"></i>
            </button>
            <button class='socialbtn' shareButton="whatsapp" [style.backgroundColor]="share.prop.whatsapp.color">
                <i id='icon' class="fab fa-whatsapp"></i>
            </button>
            <button class='socialbtn' shareButton="pinterest" [style.backgroundColor]="share.prop.pinterest.color">
                <i id='icon' class="fab fa-pinterest"></i>
            </button>
            <button class='socialbtn' shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
                <i id='icon' class="fab fa-twitter"></i>
            </button>
            <br>
            <button id="cartBtn" mat-raised-button color="warn" (click)='addToCart(prodDetails)'>ADD TO CART</button> &nbsp;
            <button id="rateBtn" mat-raised-button color="warn" (click)="openDialog()">RATE PRODUCT</button>

        </div>
        <hr>
    </div>
    <div>
        <mat-tab-group>
            <mat-tab label="Description">
                <span style="font-size:15px">
                    {{prodDetails.product_desc}}

                </span>
            </mat-tab>
            <mat-tab label="Features"> <span style="font-size:15px">

                    Dimensions:&nbsp;{{prodDetails.product_dimension}} &nbsp;(Width*Hieght in inc)<br> Material:&nbsp;{{prodDetails.product_material}}
                    <br> Manufacturer:&nbsp;{{prodDetails.product_producer}}

                </span>

            </mat-tab>
            <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
        </mat-tab-group>
    </div>

</div>