#rateBtn{
   
    background-color: #754B10;
}
#cartBtn{
    background-color: #00acee;

}
.container {
    margin-top:50px
}
#mainImg {
    width:350px;
    height:200px;
}
@media only screen and (min-width: 1024px) {
    #mainImg {
        width:400px;
        height:250px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

}
#icon {
    color: white;
}
.socialbtn {
    width: 50px;
    height: 50px;
    margin:10px;
    outline: none;
    border: 0px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.shareLabel {
    vertical-align: 6px;
    font-size: 20px;
}
