#order-image{
    width: 100px;
    height: 80px;
}
.example-card{
    margin-top: 30px
}
#profilePic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
#imgTitle{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    line-height:50px

}
#orderDetails{
    font-size: 11px;
}
#priceLabel{
    color:green;
}
.noAddress {
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}