<ngx-spinner></ngx-spinner>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>My Account</h2>
            <hr />
        </div>
        <div class="col-4">
            <!-- Profile Home component render here -->
            <app-profile-home></app-profile-home>
        </div>
        <!-- Order Cards -->
        <div class='col-8' *ngIf='displayError'>
            <span class='noAddress'>No Orders Found
                <br>
                <button mat-raised-button color='primary' routerLink='prouctPage'>Go to Product Page</button>

            </span>


        </div>
        <div class="col-8">
            <mat-card class="example-card" *ngFor='let orderDetails of prod'>
                <span style="color: #CB7C13; font-weight: 600">TRANSIT</span>&nbsp;<span>Order By:{{orderDetails._id}}</span><br>
                <span id="orderDetails">Placed on:&nbsp;{{date}}&nbsp;/&nbsp;<label id="priceLabel">₹{{orderDetails.product_details[0].total_cartCost}}</label></span>
                <hr>
                <div class="row">

                    <div class="col-3" *ngFor='let img of orderDetails.product_details'>
                        <img id="order-image" src="{{url}}{{img.product_details[0].product_image}}" alt="">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-8">
                        <br>
                        <button mat-raised-button color="primary" (click)='downloadInvoice(orderDetails)'>Download invoice
                            as PDF</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>