<div class="container">
  <!-- <embed src="{{mainUrl}}" width="100%" height="500px">
   -->
    <!-- <iframe width="900" height="500" [src]="mainUrl | safe"/> -->
  </div>
  <!-- <pdf-viewer [src]=mainUrl 
  [show-all]=false
  
  [autoresize]='true'
  
  ></pdf-viewer> -->
  <!-- [(page)]=1 -->

  <!-- <embed [src]="aa" width="100%" height="500px"> -->
    <div class="container">
        <embed [attr.src]="aa" type="application/pdf" width="100%" height="500px">
      <!-- <iframe width="100%" height="500" [src]="aa"></iframe> -->
    </div>
    <a [href]="aa" target="_blank">thesitewizard.com</a>