<br>
<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white">Loading... Please Wait</p>
</ngx-spinner>
<div class='container'>
    <div class='row'>
        <div class='col-6' style="border-right:2px solid black"><br>
            <button id="socialBtn1" mat-raised-button color="warn">
                <i id='icon' class="fab fa-facebook-f"></i>
                <span id="socialLogin">
                    Login with Facebook
                </span>
            </button><br>
            <button id="socialBtn2" mat-raised-button color="warn" (click)="social()">
                <i id='icon' class="fab fa-google"></i>
                <span id="socialLogin">
                    Login with Google
                </span>
            </button><br>

            <button id="socialBtn3" mat-raised-button color="warn">
                <i id='icon' class="fab fa-twitter"></i>
                <span id="socialLogin">
                    Login with Twitter
                </span>
            </button><br>

        </div>
        <!-- <div class="col-md-9 vertical-line"> -->
        <div class='col-6'>
            <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-card class="example-card">
                    <h3 style="margin-left:auto;margin-right:auto;display: block;">Login to NeoSTORE</h3>
                    <!-- <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            /> -->
                    <mat-card-content>
                        <div class="login">
                            <mat-form-field appearance="outline">
                                <mat-label>Email Address</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="email" />
                                <mat-icon matSuffix> email</mat-icon>
                                <mat-error *ngIf="loginForm.get('email').hasError('required')">

                                    You must enter a value

                                </mat-error>
                                <mat-error *ngIf="loginForm.get('email').hasError('email')">

                                    Invalid Email

                                </mat-error>
                                <!-- <mat-hint>Hint</mat-hint> -->
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="pass" />
                                <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}
                                </mat-icon>
                                <mat-error *ngIf="loginForm.get('pass').invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="warn" [disabled]="!loginForm.valid">Login</button>
                    </mat-card-actions>
                </mat-card>

            </form>
        </div>
        <div class="col-12" style="text-align:center">
            <br>
            <a mat-button routerLink="/register">Register Now</a>&nbsp;&nbsp;|&nbsp;<a mat-button routerLink='/forgot-pass'>Forgotten?</a>





        </div>

    </div>

</div>