.example-card{
    width: 100%;
    margin-left: auto;
    margin-right: auto

}
.login{
    align-self: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
mat-form-field{
    width:100%;

}
#socialBtn1{
     width:80%;
     margin-left: auto;
     margin-right: auto;
     display: block;
     height: 70px;
     background-color:#3b5998;
    
}  
#socialBtn2{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 70px;
    background-color:#DB4437;
}
#socialBtn3{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 70px;
    background-color:#00acee;
}

#icon{
    font-size: 50px
}
#socialLogin{
    /* border-right: 2px solid black; */
    margin-left: 30px
  

}
/* .mat-raised-button.mat-warn{
    background-color: #3b5998;
} */
@media only screen and (min-width: 1024px) {
    .example-card{
        width: 100%;
        margin-left: auto;
        margin-right: auto
    
    }

}