<form [formGroup]="contactForm">
    <mat-card>

        <div class="card-content">
            <h1>Contact Form</h1>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Placeholder" formControlName="name">
                <!-- <mat-error *ngIf="addressForm.get('Name').invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field><br>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Placeholder" formControlName="email">

            </mat-form-field><br>
            <mat-form-field appearance="outline">
                <mat-label>Mobile Numebr</mat-label>
                <input maxlength=10 matInput placeholder="Placeholder" formControlName="mobno">

            </mat-form-field><br>
            <mat-form-field appearance="outline">
                <mat-label>Subject</mat-label>
                <input matInput placeholder="Placeholder" formControlName="subject">

            </mat-form-field><br>
            <mat-form-field appearance="outline">
                <mat-label>Message</mat-label>
                <input matInput placeholder="Placeholder" formControlName="message">

            </mat-form-field><br>
            <button mat-raised-button color='primary'>Submit</button>
        </div>
    </mat-card>
</form>