mat-card {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    height: 50%;
    margin-top: 70px;

    background-color: #EEEEEE;
}
.card-content {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
mat-form-field {
    width: 500px
}
h1 {
    margin-bottom: 20px;
}
