::ng-deep .ngxImageZoomThumbnail  .ngxImageZoomFull {
    width:500px !important;
    height:500px !important;
}
ngx-image-zoom{
    width:500px !important;
    height:500px !important;
}
/* .abc{
    height: 100px !important;
    width:100px !important;
} */
h1{
    /* margin-top: 300px; */
    /* display: block; */
    /* position: absolute; */
    /* left: 50%; */
    font-size: 80px;
}

.outer {
    border:4px solid #3EA7CD;
    border-radius: 50%;
    display: inline-block;
    padding: 8px
}
.inner {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #3EA7CD;
}