<div class='container'>
    <div class='row'>
        <div class='col-6'>
            <img src="https://i.pinimg.com/originals/de/98/9c/de989c6f892919f76f48f03c60e6ad39.png" alt="" width='500px' height='400px'>

        </div>
        <div class='col-6'>

            <h1>Ooops!!</h1>
            <!-- <h4>We cant</h4>
     -->
            <h3>404 Page Not Found</h3>
            <label>We cant't seem to find the page you're looking for. </label>

        </div>
    </div>
</div>


<!-- <div class='outer'>
    <div class='inner'>
        &nbsp;
    </div>

</div> -->