<ngx-spinner></ngx-spinner>
<div class="container" *ngIf='disable'>
    <div class='row'>
        <div class="col-12" style="text-align: center">
            <img src="../../assets/images/emptycart.png" alt="">
            <span class='emptyCartTitle'>YOUR CART IS CURRENTLY EMPTY</span>
            <span>
                Before proceed to checkout you must add some products to you shopping cart.<br> You will find lots of intresting
                products on our products page
            </span>
            <button mat-raised-button color="primary" routerLink='/productPage' class='returnButton'>Return to Product Page</button>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf='!disable'>
    <!-- Cart Table -->
    <div class="row">
        <!-- <div *ngIf='disable'> -->

        <div class="col-8">
            <!-- {{cart}} -->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Product Column -->
                <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef> Product </th>
                    <td mat-cell *matCellDef="let cart">
                        <div class="row">
                            <div class="col-3" style="padding: 0px">
                                <img style="width:65px;height:65px;margin-top: 5px;margin-bottom: 5px" src="{{url}}{{cart?.product_image}}" alt="">

                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-12" style="padding: 0px">
                                        {{cart?.product_name}}
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-12" style="padding: 0px">
                                        by &nbsp;<span style='display:inline;font-size: 12px'>{{cart?.product_producer}}</span>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12" style="padding: 0px">
                                        Status: <span style='display: inline; color: green'>{{cart?.product_stock | stock}}
                                        </span>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </td>
                </ng-container>
                <!-- Quantity Column -->
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Quantity </th>
                    <td mat-cell *matCellDef="let cart,index as i">
                        <form [formGroup]='form'>
                            <div formArrayName='quantites'>
                                <div formGroupName='{{i}}'>
                                    <button mat-mini-fab color="warn" id="btn" (click)="dec(i)">-</button>&nbsp;
                                    <input type='text' min='1' class="text1" id="t{{i}}" value='1' formControlName='quantity' disabled>&nbsp;
                                    <button mat-mini-fab color="warn" id="btn" (click)="inc(i)">+</button>
                                </div>
                            </div>
                        </form>
                    </td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let cart">{{cart.product_cost}}</td>
                </ng-container>

                <!-- Total Column -->
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let cart,index as i"> {{totalPrice(i)}}</td>
                    <!-- <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td> -->
                </ng-container>
                <!-- Delete Column -->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let cart">
                        <mat-icon id="deleteBtn" matSuffix (click)='deleteProduct(cart)'>
                            delete_outline</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
        <!-- </div> -->

        <!-- Review Order -->
        <div class="col-4 ">
            <mat-card class="example-card">
                <mat-card-header style="text-align:center;">
                    <h4>Review Order</h4>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <span id='left'>Subtotal</span>

                            <span id='right'>{{getTotalCost()}}</span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item><span id='left'>GST(5%)</span>

                            <span id='right'>{{getTax()}}</span>

                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <span id='left'>Order Total</span>

                            <span id='right'>{{getOrderTotal()}}</span>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
                <mat-card-actions>
                    <button style="width: 100%" mat-raised-button color="primary" matStepperNext [disabled]=disable>Proceed
                        To Buy</button>
                    <!-- <button mat-button>LIKE</button>
              <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>


        </div>

    </div>




</div>

<!-- <div [formGroup]='form'>

  <div formArrayName='name'>
    
  <div *ngFor="let a of cart,index as i">
    
      <button mat-mini-fab color="warn" id="btn" (click)="dec()" >-</button>
      <input type="text" class="text1" id="t{{i}}" value='1' [formControlName]='a.fieldName' ngDefaultControl >
      <button mat-mini-fab color="warn" id="btn" (click)="inc()">+</button> </form> 
    </div>
    Chosen name: {{ form.controls.name.controls[i].controls.name.value }}
  </div>
</div> -->
<!-- {{dataSource | json}} -->