table {
    width: 100%;
  }
#btn1{
    padding: 0px;
    width:10px;
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 0px;
}
#left{
margin-right: auto
}
#right{
float: right;
margin-left: auto;
display:block;
}
#btn {
    padding: 0px;
    display: inline-block;
    line-height: 0px;
    width:20px;
    height:20px;
    outline:none;
} 
::ng-deep .mat-mini-fab .mat-button-wrapper{
    padding: 0px !important;
    line-height: 0px !important;
}
.text1{
    width:30px;
    
}
input[type=text] {
    padding-left: 8px;

}
#deleteBtn {
    font-size: 23px;
    color: #AF1616;
    cursor: pointer;
    /* text-decoration: underline; */
}
/* #deleteBtn :hover {
    
    text-decoration: underline;
} */
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
    height: 100px;
}
.emptyCartTitle{
    font-size: 30px

}
span{
    display: block;
    line-height: 2;
}
.returnButton{
    margin-top: 20px
}