agm-map {
    margin-left:auto;
    margin-right: auto; 
    height: 300px;
    width:700px;
    display: block;
  }

  :host {
    width: 100%;
    height: 100%;
  }
  
  .container {
    width: 100%;
    height: 100%;
  }
  
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .policy-card {
    width: 80%;
    min-width: 280px;
    height: 70%;
    min-height: 280px;
    margin: auto;
    font-weight: unset !important;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .header-image {
    background-color: #44c2cc;
  }
  .text-container {
    overflow-y: scroll;
  }