<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>


<!-- <div id="elementId">
  <h1>Roufid tutorials</h1>
</div> -->
<!-- <div><span class="count">200</span></div>  -->