<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>My Account</h2>
            <hr />
        </div>
        <div class="col-md-4">
            <app-profile-home></app-profile-home>
        </div>
        <div class="col-8">
            <div [formGroup]='changePassForm'>
                <mat-card>
                    <h1>Change Password</h1>
                    <hr> NOTE : Password must be : 8-12 Alphanumeric characters
                    <mat-form-field appearance="outline">
                        <mat-label>Old Password</mat-label>
                        <input matInput placeholder="Enter your password" [type]="hide2 ? 'password' : 'text'" formControlName='oldPass' />
                        <mat-icon matSuffix (click)="hide2 = !hide2">{{ hide2 ? "visibility_off" : "visibility" }}
                        </mat-icon>
                        <mat-error *ngIf="changePassForm.get('oldPass').invalid">{{getErrorMessage2()}}</mat-error>

                        <!-- <mat-error *ngIf="loginForm.get('pass').invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field> <br><br>
                    <mat-form-field appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName='newPass' />
                        <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}
                        </mat-icon>
                        <mat-error *ngIf="changePassForm.get('newPass').invalid">{{getErrorMessage()}}</mat-error>

                        <!-- <mat-error *ngIf="loginForm.get('pass').invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field><br><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Enter your password" [type]="hide1 ? 'password' : 'text'" formControlName='confirmPass' />
                        <mat-icon matSuffix (click)="hide1 = !hide1">{{ hide1 ? "visibility_off" : "visibility" }}
                        </mat-icon>
                        <mat-error *ngIf="changePassForm.get('confirmPass').invalid">{{getErrorMessage1()}}</mat-error>
                        <mat-hint *ngIf="changePassForm.hasError('passwordsDoNotMatch')" style='color: red'>
                            Passwords do not match!
                        </mat-hint>
                        <!-- <mat-error *ngIf="loginForm.get('pass').invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>

                    <br><br><br>
                    <button mat-raised-button color='primary' [disabled]="!changePassForm.valid" (click)='submit()'>Submit</button>
                </mat-card>
            </div>
        </div>
    </div>
</div>