.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  /* align-items: center; */
}

mat-form-field {
  margin-right: 12px;
}
/* .mat-panel-title{
    width:100px;
} */
.mat-expansion-panel{
    width:164px;
}
/* mat-expansion-panel-header{
    width: 100%;
} */
mat-panel-description{
    /* margin-left: 30px !important; */
    float: left;
}
.vertical-line {
    border-left: 1px solid #eee;
  }
.example-card {
    height: 300px;
}
h6{
  font-size: 15px
}
#addToCartBtn{
    float:right;
    height:25px;
    line-height: 0px;
    width:141px;
    text-align: center;
    font-size:10px;
    padding: 8px;
    position: absolute;
    top:70%;
  }
#column{
    padding: 5px
}
#card_image{
    height:100px;width:100%;margin-left: auto;margin-right: auto;margin-top: 5px;
}
.colorBtn {
  min-width: 0;
  width:40px;
  padding: 0px;
  height: 25px;
  border:1px solid black;
  /* background-color: black; */
  outline-color: black;
}
.mat-expansion-panel-body {
  padding: 0 35px 16px;
}
#allProdBtn{
  width:164px;
  margin-bottom: 20px;
  outline: none;

}
#priceTag{
  /* margin-bottom:40%;
   */
   position: absolute;
   top:60%;

}
#rating{
  position: absolute;
   top:85%;
   left:20%;

}
#category {
    outline-color: black;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
#sortBtn{
  outline:none;
  color: #3366BB
}
#labelName{
  color: #3366BB;

}
#labelName:hover{
 text-decoration: underline;
 cursor: pointer;

}
/* .pagination {

} */
@media only screen and (min-width: 1024px) {
  #addToCartBtn{
    /* float:right; */
    height:35px;
    /* line-height: 0px; */
    /* width:141px; */
    /* text-align: center; */
    font-size:17px;
    /* padding: 8px; */
    /* position: absolute; */
    /* top:70%; */
    left:20%;
  }
  #rating{
    position: absolute;
     top:85%;
     left:30%;
  
  }
  .mat-expansion-panel{
    width:220px;
}
#allProdBtn{
  width:220px;
  margin-bottom: 20px;
  outline: none;

}
}