<ngx-spinner></ngx-spinner>
<!-- <ngx-loading></ngx-loading> -->
<hr>

<div class='container'>
    <div class="row">
        <div class="col-md-3">
            <button mat-raised-button id="allProdBtn" (click)="selectedCategory('','','','','','All Categories')">All Products</button>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon id="icon" aria-hidden="false">keyboard_arrow_down</mat-icon>
                            Categories
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <mat-list>
                        <div *ngFor='let categories of category'>
                            <mat-list-item>
                                <button mat-button (click)="selectedCategory(categories._id,'','','','',categories.category_name)" id='category'>{{categories.category_name}}</button>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-list>
                </mat-expansion-panel>
                <br />
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon id="icon" aria-hidden="false">keyboard_arrow_down</mat-icon>
                            Color
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <div class="row">
                            <div class="col-4" *ngFor="let colors of color,index as i ">
                                <button class='colorBtn' id="btn{{i}}" matTooltip="{{colors.color_name}}" (click)="selectedCategory(selCat,colors._id,'','','',name)"
                                    [ngStyle]="{'background-color':colors.color_code}" mat-button></button>
                            </div>

                            <!-- <div class="col-3">
                <button id='colorBtn' mat-button></button>
            </div> -->

                        </div>
                        <!-- <div *ngFor='let categories of category'>
                
                    <button id='colorBtn' mat-button></button>
                   
            </div> -->
                    </mat-list>
                </mat-expansion-panel>
                <br />

            </mat-accordion>
        </div>
        <div class="col-9" *ngIf="!show">
            <!-- <h3>ad{{category[0]}}</h3> -->
            <div class="row">
                <div class="col-12">
                    <h3 style="display:inline-block">{{name}}</h3>
                    <span style="float:right;margin-left:auto">
                        Sort By:<button id="sortBtn" mat-button (click)="selectedCategory(selCat,selColor,'product_rating','true',searchText)"><mat-icon>
                                star_rate</mat-icon></button>
                        <button mat-button id="sortBtn" (click)="selectedCategory(selCat,selColor,'product_cost','true',searchText)">₹<mat-icon>
                                arrow_upward</mat-icon></button>
                        <button mat-button id="sortBtn" (click)=" selectedCategory(selCat,selColor,'product_cost','false',searchText)">₹<mat-icon>
                                arrow_downward</mat-icon></button>

                    </span>

                </div>
            </div>
            <!-- <div class="col-md-9 vertical-line"> -->
            <div class="row">

                <div class="col-md-4" id="column" *ngFor="let itemLists of prod | paginate: { id: 'server', itemsPerPage: limit, currentPage: pageNo, totalItems: totalCount }">

                    <mat-card class="example-card">
                        <img id="card_image" mat-card-image src="{{url}}{{itemLists.product_image}}">
                        <mat-card-content>
                            <h6>
                                <label id='labelName' (click)=prodDetails(itemLists)>{{itemLists.product_name}}</label>

                            </h6>


                            <label id="priceTag"><b>₹{{itemLists.product_cost}}</b></label><br>
                            <button id="addToCartBtn" mat-raised-button color="warn" (click)="addToCart(itemLists, 'Added To Cart', '')">Add
                                To Cart</button>
                            <div>
                                <div id="rating">
                                    <ngx-stars [initialStars]=itemLists.product_rating [readonly]="true" [color]="'#ffa534'"></ngx-stars>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <br><br>
            <pagination-controls class="pagination" (pageChange)="getPageNumber($event)" id="server"></pagination-controls>
        </div>
        <div class="col-9" *ngIf="show">
            <!-- <div class="col-md-9 vertical-line"> -->
            <!-- <span>No items</span> -->
            <img src="https://dlinkmea.com/images/no-product.png" style="width:100%;" alt="">

        </div>
    </div>


</div>

<!-- <star-rating-comp [starType]="'svg'" [rating]="2.63"></star-rating-comp> -->