h1 {
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 50px;
}
h6 {
    margin-top: 20px;
}
.container {
    text-align: center !important;
    
    /* position: absolute; */
}
a{
    margin-top: 20px;

}
a:hover {
    /* text-decoration: underline; */
    color: #910B0B;
    /* cursor: pointer; */
}
@media only screen and (min-width: 1024px) {
    .container {
        text-align: center !important;
        margin-top: 200px;
        font-size: 76px;
        /* position: absolute; */
    }
    h1 {
        font-size: 76px;
        font-weight: 900;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}