<ngx-spinner></ngx-spinner>
<div class='container'>
  <h1>Thank you for your order</h1>
  <h6>Your order has been placed  and is being processed</h6>
  <a mat-button routerLink="/dashboard">Back to Hompage</a>
  <!-- <h6 id="link" (click) ='dash' >Back to Hompage</h6> -->
  <!-- <ngx-stars (ratingOutput)="onRatingSet($event)"></ngx-stars> -->
</div>