label{
    display:block;
    font-size:13px;
    font-weight: 700;
}
#profilePic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
#imgTitle{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    line-height:50px

}
.profileOptions{
    text-align: center;
    font-size: 15px;
}
#detail{
    font-weight: 400
}