<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>My Account</h2>
            <hr />
        </div>
        <div class="col-md-4">
            <app-profile-home></app-profile-home>
        </div>
        <div class="col-8">
            <mat-card class="example-card">
                <h2>Profile</h2>
                <hr />
                <div class="row">
                    <div class="col-3">
                        <br>
                        <label>First Name</label><br />
                        <label>Last Name</label><br />
                        <label>Gender</label><br />
                        <label>Date of Birth</label><br />
                        <label>Mobile Number</label><br />
                        <label>Email</label><br />
                    </div>

                    <div class="col-6"><br>
                        <label id='detail'>{{profileData.first_name}}</label><br />
                        <label id='detail'>{{profileData.last_name}}</label><br />
                        <label id='detail'>{{profileData.gender}}</label><br />
                        <label id='detail'>{{this.profileData.dob | amLocal | amDateFormat: 'DD/MM/YYYY '}} &nbsp;</label><br
                        />
                        <label id='detail'>{{profileData.phone_no}}</label><br />
                        <label id='detail'>{{profileData.email}}</label><br />

                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-9">
                        <button mat-stroked-button (click)="edit()"><mat-icon style="font-size:18px">edit</mat-icon>Edit</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>