<mat-horizontal-stepper #stepper (selectionChange)="selectAddress()">
    <mat-step>
        <ng-template matStepLabel>Cart</ng-template>
        <br> <app-cart></app-cart>
        <!-- <button style="margin-left:auto" mat-raised-button matStepperNext>Next</button> -->
    </mat-step>
    <mat-step>
        <form>

            <ng-template matStepLabel>Delivery Address</ng-template>
            <div class="container" *ngIf='disable'>
                <div class='row'>

                    <div class="col-12" style="text-align: center">
                        <img src="https://www.airlinehyd.com/customer/aihyco/images/emptycart.png" alt="">
                        <span class='emptyCartTitle'>YOUR CART IS CURRENTLY EMPTY</span>
                        <span>
                            Before proceed to checkout you must add some products to you shopping cart.<br> You will find
                            lots of intresting products on our products page
                        </span>
                        <button mat-raised-button color="primary" routerLink='/productPage' class='returnButton'>Return to
                            Product Page</button>
                    </div>
                </div>
            </div>
            <div class="container" *ngIf='!disable'>
                <div *ngIf='!showAddress'>
                    <span class='noAddress'>No Address Found
                        <br>
                        <button mat-raised-button color='primary' (click)="addAddress()">Add Address</button>

                    </span>

                </div>
                <div *ngIf="show == 'show'? true:false">
                    <mat-card class="example-card" *ngIf='showAddress'>
                        <h3>Addresses</h3>
                        <hr>
                        <!-- <mat-card>
            No Address
          </mat-card> -->


                        <mat-card class="example-card2" *ngFor="let adds of userInfo?.customer_address, index as i">
                            <div style="font-size:15px">
                                <span>{{adds.address}}</span>
                                <span>{{adds.city}}</span>
                                <span>{{adds.pincode}}</span>
                                <span>{{adds.country}}</span><br>

                            </div>
                            <mat-radio-group (change)='address(adds)' id='radio' [(ngModel)]=add name='addre' aria-label="Select an option">
                                <mat-radio-button [value]="true">Select</mat-radio-button>
                                <!-- <mat-radio-button value="2">Female</mat-radio-button> -->
                            </mat-radio-group> &nbsp;&nbsp;
                            <button mat-raised-button color='primary' (click)='editPage(adds)'>Edit</button>

                        </mat-card>

                        <hr>
                        <div class="row">
                            <div class="col-8">
                                <!-- <button mat-stroked-button>Edit</button> -->
                                <br>
                                <button mat-raised-button (click)="addAddress()">Add Address</button>
                                &nbsp;<button mat-raised-button matStepperNext [disabled]=checked (click)='checkout()'>Place
                                    Order
                                </button>

                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </form>
    </mat-step>
    <!-- <mat-step>
      <ng-template matStepLabel>Payment</ng-template>
      You are now done.
      <div>
        
      </div>
    </mat-step> -->
</mat-horizontal-stepper>
<!-- <app-cart></app-cart> -->