.mat-horizontal-stepper-header-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: 70%!important;
}
.example-card2 {
    margin-top: 20px
}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
    height: 100px;
}
.emptyCartTitle{
    font-size: 30px

}
span{
    display: block;
    line-height: 2;
}
.returnButton{
    margin-top: 20px
}
.noAddress {
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}