/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }


.carousel img {
  display: block;
  height: 400px;
}
.flickity-page-dots{
    display:none !important;
}
.count
{
  /* line-height: 100px; */
  color:black;
  /* margin-left:30px; */
  font-size:40px;
}
.example-card{
  /* width:200px; */
 
    height: 300px;

}
#orderInfoCard{
  border:1px solid grey;
    box-shadow: 10px 10px 5px grey;    
}
#addToCartBtn{
  float:right;
  height:25px;
  line-height: 0px;
  width:141px;
  text-align: center;
  font-size:10px;
  padding: 8px;
  position: absolute;
  top:80%;
  left: 20%;
}
#labelName{
  color: #3366BB;

}
#priceTag {
  position: absolute;
   top:70%;
   left: 38%;

}
#labelName:hover{
 text-decoration: underline;
 cursor: pointer;

}
#rating{
  position: absolute;
   top:93%;
   left:27%;

}
@media only screen and (min-width: 1024px) {
  #addToCartBtn{
    /* float:right; */
    height:35px;
    /* line-height: 0px; */
    /* width:141px; */
    /* text-align: center; */
    font-size:17px;
    /* padding: 8px; */
    /* position: absolute; */
    /* top:70%; */
    /* left:20%; */
  }
  #rating{
    position: absolute;
     top:93%;
     left:30%;
  
  }
}