<ngx-spinner>
    <p style="color: white">Loading... Please Wait</p>
</ngx-spinner>
<br><br>
<!-- Carousel -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style='cursor: pointer;'>
    <div class="carousel-inner">
        <div [ngClass]="i==0?'carousel-item active':'carousel-item'" *ngFor="let cat of categoryImg; index as i">
            <img class="d-block w-100" src="{{url}}{{cat.product_image}}" alt="Third slide" (click)="prodInfo(cat)">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br><br>
<!-- Counter -->
<!-- <div class="container" *ngIf="show == 'show' ? true : false">
  <br>
  <div class="row" style="margin-left:20px">                                                                                                                                                                                          
    <div class="col-6">
      <mat-card id="orderInfoCard" style="width:80%;text-align: center">
        <h6>Placed Orders</h6>
      
<div><span class="count">20</span></div> 
        
      </mat-card>

      </div>
      <div class="col-6">
        <mat-card id="orderInfoCard" style="width:80%;text-align: center">
        <h6>Shipped Orders</h6>
        <div><span class="count">10</span></div> 

        
        </mat-card>

      </div>
  </div>
  <br>           

</div> -->

<!-- Top Rated Products -->
<div class='topRatedProducts'><br>
    <div class="container">
        <div class='row'>
            <div class="col-12" style="text-align:center">
                <h4>Popular Products</h4>
                <a mat-button routerLink="/productPage" (click)="allProd('','')">View All</a>


            </div>
            <div class='row'>
                <div class='col-md-4 col-lg-3' *ngFor="let first of topProd; index as i">
                    <mat-card class="example-card" style="margin-top:10px">
                        <img mat-card-image src="{{url}}{{first?.DashboardProducts[0].product_image}}" style="height:120px;width:100%;margin-left: auto;margin-right: auto;margin-top: 5px">
                        <mat-card-content style="text-align:center">
                            <h6>
                                <label id="labelName" (click)="prodDetails(first)">{{first?.DashboardProducts[0].product_name}}</label>
                            </h6>

                            <label id='priceTag'><b>₹{{first?.DashboardProducts[0].product_cost}}</b></label><br>
                            <button id="addToCartBtn" mat-raised-button color="warn" (click)="addToCart(first?.DashboardProducts[0], 'Added To Cart', '')">Add
                                To Cart</button>
                            <div id="rating">
                                <ngx-stars [initialStars]=first?.DashboardProducts[0].product_rating [readonly]="true" [color]="'#ffa534'"></ngx-stars>
                            </div>
                        </mat-card-content>
                    </mat-card>

                </div>
                <div>

                </div>

            </div>

        </div>

    </div>

</div>