<div class="container">
    <h5>My Account</h5>
    <hr>
    <div class="row">
        <!-- Side Navigation -->
        <div class="col-3">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon id="icon" aria-hidden="false">keyboard_arrow_down</mat-icon>
                            Orders
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <button id="navBtn" mat-button routerLink='/order'>Orders</button>


                </mat-expansion-panel>
                <hr>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon id="icon" aria-hidden="false">keyboard_arrow_down</mat-icon>
                            Account
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button id="navBtn" mat-button>Profile</button>
                    <button id="navBtn" mat-button>Addresses</button>

                    <br>

                </mat-expansion-panel>
                <br />
            </mat-accordion>
            <!-------------------------------------------------------------------->
        </div>
        <div class="col-8">
            <!-- Address Form -->
            <form action="" [formGroup]="addressForm">
                <mat-card class="example-card">
                    <h3>Edit Address</h3>
                    <hr>

                    <!-- <button mat-raised-button><mat-icon matSuffix>location_on</mat-icon>Set Current Location</button> -->

                    <br>
                    <div>
                        <mat-form-field appearance="outline" id='addressField' style="width: 300px;">
                            <mat-label>Address</mat-label>
                            <textarea #message maxlength="100" formControlName="address" matInput placeholder="Address"></textarea>
                            <mat-hint align="start">Max 100 characters</mat-hint>
                            <mat-hint align="end">{{ message.value?.length || 0 }}/100</mat-hint>
                            <mat-error *ngIf="addressForm.get('address').hasError('required')">
                                You must enter a value
                            </mat-error>
                            <!-- <mat-error *ngIf="addressForm.get('pincode').invalid">{{getErrorMessage()}}</mat-error> -->


                        </mat-form-field><br>
                        <mat-form-field appearance="outline">
                            <mat-label>Pincode</mat-label>
                            <input matInput maxlength="6" placeholder="Pincode" formControlName="pincode">

                            <mat-error *ngIf="addressForm.get('pincode').invalid">{{getErrorMessage()}}</mat-error>


                        </mat-form-field> <br>
                        <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <input matInput placeholder="City" formControlName="city">

                            <mat-error *ngIf="addressForm.get('city').invalid">{{cityFieldValid()}}</mat-error>


                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>State</mat-label>
                            <input matInput placeholder="State" formControlName="state">

                            <mat-error *ngIf="addressForm.get('state').invalid">{{stateFieldValid()}}</mat-error>


                        </mat-form-field><br>
                        <mat-form-field appearance="outline">
                            <mat-label>Country</mat-label>
                            <input matInput placeholder="Country" formControlName="country">

                            <mat-error *ngIf="addressForm.get('country').invalid">{{countryFieldValid()}}</mat-error>


                        </mat-form-field>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-8">
                            <br>
                            <button mat-raised-button (click)='editAddress()' [disabled]="!addressForm.valid"><mat-icon id="icon"
                                    aria-hidden="false">save</mat-icon>Save</button>&nbsp;
                            <button mat-raised-button (click)='cancelBtn()'><mat-icon id="icon" aria-hidden="false">close</mat-icon>Cancel</button>
                        </div>
                    </div>
                </mat-card>
            </form>
        </div>

    </div>


</div>