<div [formGroup]='recoverPassForm'>
    <mat-card>
        <h1>Recover Password</h1>
        <hr>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName='email'>
            <!-- <mat-error *ngIf="addressForm.get('pincode').invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field> <br><br><br>
        <button mat-raised-button color='primary' (click)='submit()'>Submit</button>
    </mat-card>
</div>