<img src="{{profilePic}}" alt="" id="profilePic" />
<!-- <label id="imgTitle">User</label> -->
<span id="imgTitle">
    {{profileData.first_name}}&nbsp; {{profileData.last_name}}&nbsp;
</span>
<div class="profileOptions">
    <mat-list role="list">
        <mat-list-item role="listitem">
            <button id="navBtn" mat-button routerLinkActive="active" routerLink='/order'>
                <mat-icon id="icon" aria-hidden="false">notes</mat-icon>&nbsp;Order </button>
        </mat-list-item>
        <mat-list-item role="listitem"> <button id="navBtn" mat-button routerLinkActive="active" routerLink='/profile'>
                <mat-icon id="icon" aria-hidden="false">account_box</mat-icon>&nbsp; Profile</button></mat-list-item>
        <mat-list-item role="listitem">
            <button id="navBtn" mat-button routerLinkActive="active" routerLink='/address'><mat-icon id="icon" aria-hidden="false">
                    library_books</mat-icon>&nbsp; Address</button></mat-list-item>
        <mat-list-item role="listitem">
            <button id="navBtn" mat-button routerLinkActive="active" routerLink='/change-pass'><mat-icon id="icon" aria-hidden="false">
                    swap_horiz</mat-icon>&nbsp; Change Password</button></mat-list-item>
    </mat-list>
</div>