label{
    display:block;
    font-size:13px;
    font-weight: 700;
}
#profilePic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
#imgTitle{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    line-height:50px;
    color:brown;
    font-weight: 600;

}
.profileOptions{
    text-align: center;
    font-size: 15px;
}
#navBtn{
    outline: black;
    width:500px;
    /* border: 1px solid black; */
    color: #3366BB
  /* color: */
}
.active {
    border: 1px solid black;
}

