<h3>Rate Product</h3>
<hr>
<div id="stars">
<!-- {{data.proid}} -->
  <ngx-stars [size]="2"  (ratingOutput)="onRatingSet($event)"></ngx-stars>
  <br>
  
  <button style="margin-left:50px" mat-raised-button color="primary" (click) = 'onNoClick()' [disabled]=disable>Done</button>
</div>
