.example-card{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 10px 10px 5px grey;     */
}
.login{
    align-self: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
mat-form-field{
    width:100%;

}
#socialBtn1{
     /* width:80%; */
     margin-left: auto;
     margin-right: auto;
     /* display: block; */
     height: 70px;
     background-color:#3b5998;
    
}  
#socialBtn2{
    /* width:80%; */
    margin-left: auto;
    margin-right: auto;
    /* display: block; */
    height: 70px;
    background-color:#DB4437;
}

#icon{
    font-size: 50px
}
#socialLogin{
    /* border-right: 2px solid black; */
    margin-left: 30px
  

}
/* .mat-raised-button.mat-warn{
    background-color: #3b5998;
} */
a{
    text-decoration: none;
    color:black;
}
/* .example-card{
   
    /* border:1px; */
   
