<br />
<div class="container">
    <div class="row">
        <div class="col-12">
            <br />
            <div style="
      text-align: -webkit-center;">

                <button id="socialBtn1" mat-raised-button color="warn">
                    <i id="icon" class="fab fa-facebook-f"></i>
                    <span id="socialLogin">
                        Login with Facebook
                    </span></button>&nbsp;&nbsp;
                <button id="socialBtn2" mat-raised-button color="warn">
                    <i id="icon" class="fab fa-google"></i>
                    <span id="socialLogin">
                        Login with Google
                    </span></button><br />

            </div>

        </div>
    </div>
    <hr style="height:10px">
    <div class='row'>


        <!-- ------------Registration Form---------------------- -->
        <div class="col-12">
            <form action="" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <mat-card class="example-card">
                    <div style="margin-left:auto;margin-right:auto;display:inline-block;">
                        <h3>
                            Register to NeoSTORE
                        </h3>
                    </div>

                    <mat-card-content>
                        <div class="login">
                            <mat-form-field appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="Email" formControlName="first_name" />
                                <mat-icon matSuffix>
                                    text_fields</mat-icon>
                                <mat-error *ngIf="registerForm.get('first_name').invalid">{{textValid()}}</mat-error>

                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Email" formControlName="last_name" />
                                <mat-icon matSuffix>
                                    text_fields</mat-icon>
                                <mat-error *ngIf="registerForm.get('last_name').invalid">{{textValid1()}}</mat-error>

                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Email Address</mat-label>
                                <input matInput placeholder="Email" formControlName="email" />
                                <mat-icon matSuffix> email</mat-icon>
                                <mat-error *ngIf="registerForm.get('email').hasError('required')">
                                    You must enter a value
                                </mat-error>
                                <mat-error *ngIf="registerForm.get('email').hasError('email')">
                                    Invalid Email
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="pass" />
                                <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}
                                </mat-icon>
                                <mat-hint align='end'>8-12 Alphanumeric characters</mat-hint>

                                <mat-error *ngIf="registerForm.get('pass').invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [formGroup]='registerForm'>
                                <mat-label>Confirm Password</mat-label>
                                <input matInput placeholder="Renter your password" [type]="hide1 ? 'password' : 'text'" formControlName="confirmPass" />
                                <mat-icon matSuffix (click)="hide1 = !hide1">{{ hide1 ? "visibility_off" : "visibility" }}
                                </mat-icon>
                                <mat-hint align='end'>8-12 Alphanumeric characters</mat-hint>

                                <mat-error *ngIf="registerForm.get('confirmPass').invalid">{{getErrorMessage1()}}</mat-error>


                                <!-- <mat-error *ngIf="registerForm.hasError('passwordsDoNotMatch')">
                                    Passwords do not match!
                                </mat-error> -->

                                <mat-hint *ngIf="registerForm.hasError('passwordsDoNotMatch')" style='color: red'>
                                    Passwords do not match!
                                </mat-hint>
                            </mat-form-field>
                            <!-- {{registerForm.hasError('passwordsDoNotMatch')}} -->
                            <!-- </div> -->
                            <mat-form-field appearance="outline">
                                <mat-label>Mobile No.</mat-label>
                                <input matInput #input maxlength="10" placeholder="Enter some input" formControlName="phone_no" />
                                <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
                                <!-- <span matPrefix>+1 &nbsp;</span> -->
                                <mat-icon matSuffix>phone</mat-icon>
                                <!-- <mat-hint>Max 10</mat-hint> -->
                                <mat-error *ngIf="registerForm.get('phone_no').invalid">{{getErrorMessageNumeric()}}</mat-error>
                                <mat-error *ngIf="registerForm.get('phone_no').hasError('minlength')">
                                    Not valid phone number
                                </mat-error>

                            </mat-form-field><br><br>
                            <!-- <mat-label style="font-size:15px"> I'm</mat-label>&nbsp; -->
                            <mat-radio-group formControlName="gender" aria-label="Select an option">
                                <mat-radio-button value="Male">Male</mat-radio-button>&nbsp;
                                <mat-radio-button value="Female">Female</mat-radio-button>
                                <!-- <mat-error *ngIf="registerForm.get('gender').hasError('required')">
                          Required
                        </mat-error> -->
                            </mat-radio-group>
                        </div>

                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="warn" [disabled]="!registerForm.valid">Register</button>
                        <!-- <button mat-raised-button color="warn" (click)='load()'>Register</button> -->
                    </mat-card-actions>
                </mat-card>
                <!-- </form> -->
            </form>
        </div>

    </div>
</div>